{% extends 'base.html' %}
{% block content %}
        <h1 style="text-align: center;" class="mt-4">
      Account Record
    </h1>
    <br>
    <form class="form">
    <div class="container col-lg- col-sm-6 col-6">
    <div class="row">
                <b class="mt-1">
                    Month
                </b>
                <select name="month" class="form-control col-lg-4 ml-3 mr-sm-5">
                    {% for month in months %}
                    <option>{{month}}</option>
                    {% endfor %}
                </select>
                <b class="mt-1">
                    Year
                </b>
                <select name="year" class="form-control col-lg-4 ml-3">
                    {% for year in years %}
                    <option>{{year}}</option>
                    {% endfor %}
                </select>
<!--            <input type="number" class="form-control col-lg-2" placeholder="Month">-->
<!--            <input type="number" class="form-control col-lg-2 mr-sm-2" placeholder="Year">-->
          </div>
        <div class="row">
            <b class="mt-5 mr-sm-1">
                Total Income
            </b>
            <input type="number" class="form-control col-lg-5 mt-5 ml-5">
        </div>
                <div class="row">
            <b class="mt-5">
                Total Expense
            </b>
            <input type="number" class="form-control col-lg-5 mt-5 ml-5">
        </div>
                <div class="row">
            <b class="mt-5 mr-sm-4">
                Remaining
            </b>
            <input type="number" class="form-control col-lg-5 mt-5 ml-5">
        </div>
    </div>

{% endblock %}